nuttx/*.a
nuttx/*.adb
nuttx/*.asm
nuttx/*.bin
nuttx/*.d
nuttx/!*.d/
nuttx/*.dSYM
nuttx/*.elf
nuttx/*.exe
nuttx/*.gcno
nuttx/*.gcda
nuttx/*.hex
nuttx/*.i
nuttx/*.ihx
nuttx/*.lib
nuttx/*.lod
nuttx/*.lst
nuttx/*.map
nuttx/*.o
nuttx/*.obj
nuttx/*.profraw
nuttx/*.rel
nuttx/*.src
nuttx/*.srec
nuttx/*.swp
nuttx/*.sym
nuttx/*.wsp
nuttx/*.ddc
nuttx/*.dds
nuttx/*~
nuttx/.depend
nuttx/.config
nuttx/.config.*
nuttx/core
nuttx/Make*.dep
nuttx/.cache
